body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 150, 151);
}

#canvas {
    background-color: rgb(56, 54, 63);
}

#tooltip{
    visibility: hidden;
    width: auto;
    height: auto;
    
}

.tooltip{
    color: rgb(8, 8, 10);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 5px;
    background-color: rosybrown;
}

.legend {
    background-color: none;
    padding-left: 6%;
}

.cool {
    fill: steelblue;
    width: 1 em;
    height: 0.2em;
}

.text {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: none;
}

